<!DOCTYPE html>
<html lang="en">
<body>
<form action="/signup" method="post">
    <div>
        <label for="username"><b>Username</b></label>
        <label>
            <input type="text" placeholder="Enter Username" name="username" required>
        </label>
        <label for="password"><b>Password</b></label>
        <label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </label>
        <label>
            <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
        </label>
        <button type="submit">Sign up</button>
    </div>
    <div>
        <span><a href="/login">Log in</a></span>
    </div>
</form>
</body>
</html>